.sidebar-container {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #191b1f;
  border-right: grey 0.25px solid;
}

.inbox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  gap: 25px;
  margin-top: 10%;
}

.inbox-text {
  font-family: "Comic-Sans-MS";
}
